<div class="container">
  <h3>Detail of Book</h3>
  <div *ngIf="book" class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <h6>
        <div class="row">
          <div class="col-4"><label>ID</label></div>
          <div class="col-8"><label>{{book.id}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>ISBN</label></div>
          <div class="col-8"><label>{{book.isbn}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Title</label></div>
          <div class="col-8"><label>{{book.title}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Author</label></div>
          <div class="col-8"><label>
            <table>
              <tr *ngFor="let author of book.authors">
                <td>{{author.name}}</td>
              </tr>
            </table>
          </label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Number of Pages</label></div>
          <div class="col-8"><label>{{book.number_of_pages}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Publish Date</label></div>
          <div class="col-8"><label>{{book.publish_date}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Publisher</label></div>
          <div class="col-8"><label>{{book.publisher}}</label></div>
        </div>
        <div class="row">
          <div class="col-4"><label>Bookcase</label></div>
          <div class="col-8">
            <label>
              <a [routerLink]="['/racks', book.rack.id]">
                {{book.rack.name}} - {{book.rack.library.name}}
              </a>
            </label>
          </div>
        </div>
        <div *ngIf="lendingBookDTO" class="row">
          <div class="col-4"><label>Student</label></div>
          <div class="col-8">
            {{lendingBookDTO.student_name}}
          </div>
        </div>
      </h6>
    </div>
    <div class="col-4">
      <img src="{{book.cover}}" alt="">
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div style="width: 100%" class="col-2">
      <button class="btn btn-light">Cancel</button>
    </div>
    <div style="width: 100%" class="col-2">
      <button class="btn btn-danger" (click)="openDialogDelete(book)">Delete</button>
    </div>
    <div class="col-1"></div>
  </div>
</div>

