<div class="container">
  <h3>List of Returns</h3>
<!--  <a [routerLink]="['add']">Add New Return</a>-->
  <div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <button style="width: 100%" class="btn btn-light" [routerLink]="['add']">
        <i class="fa fa-plus"></i> New return
      </button>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
  <table class="table table-bordered">
    <thead>
    <th style="text-align: center">Order</th>
<!--    <th>LendingBook ID</th>-->
    <th style="text-align: center">Book ID</th>
    <th>Book ISBN</th>
    <th>Book Title</th>
    <th>Borrower Name</th>
    <th>Loan Date</th>
    <th>Return Date</th>
    </thead>
    <tbody>
    <tr *ngFor="let lendingBookDTO of lendingBookDTOList; index as i">
      <td style="text-align: center">{{i + 1}}</td>
<!--      <td>{{lendingBookDTO.id}}</td>-->
      <td style="text-align: center">{{lendingBookDTO.book_id}}</td>
      <td>{{lendingBookDTO.book_isbn}}</td>
      <td>{{lendingBookDTO.book_title}}</td>
      <td>{{lendingBookDTO.accountName}}</td>
      <td>{{lendingBookDTO.loanDate }}</td>
      <td>{{lendingBookDTO.returnDate }}</td>
    </tr>
    </tbody>
  </table>
</div>
