<div class="container">
  <h3>Detail of Lending</h3>
  <div *ngIf="lending">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <label>Borrower ID</label>
      </div>
      <div class="col-5">{{lending.account.id}}</div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <label>Borrower Name</label>
      </div>
      <div class="col-5">{{lending.account.fullname}}</div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <label>Loan Date</label>
      </div>
      <div class="col-5">{{lending.loanDate}}</div>
      <div class="col-4"></div>
    </div>
    <table class="table table-bordered">
      <thead>
      <th style="text-align: center">Order</th>
      <th style="text-align: center">Book ID</th>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Number Of Pages</th>
      <th>Publish Date</th>
      <th>Publisher</th>
      <th>Rack</th>
      <th>Return Date</th>
      </thead>
      <tbody>
      <tr *ngFor="let book of lending.bookDTOList | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
        <td style="text-align: center">{{i + 1}}</td>
        <td style="text-align: center">{{book.id}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>
        <span *ngFor="let author of book.authors">
          <span>{{author.name}}</span>
        </span>
        </td>
        <td>{{book.number_of_pages}}</td>
        <td>{{book.publish_date}}</td>
        <td>{{book.publisher}}</td>
        <td>
          {{book.rack.name}} - {{book.rack.library.name}}
        </td>
        <td>{{book.returnDate}}</td>
      </tr>
      </tbody>
    </table>
    <div style="text-align: right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-1"></div>
    <div class="col-1">
      <button style="width: 100%" class="btn btn-danger" (click)="lendingPDF()">
        <i class="fa fa-file-pdf-o"></i>
      </button>
    </div>

  </div>
</div>


