<div class="container">
  <h3>Add New Lending</h3>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-8">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-2">Borrower ID</div>
        <div class="col-4">
          <input type="text" class="form-control" (keyup.enter)="searchAccount($event)">
        </div>
        <div class="col-6">
          <form [formGroup]="lendingForm">
            <div class="row">
              <div style="text-align: center" class="col-4">Loan Date</div>
              <div class="col-8" style="text-align: center">
                <input style="text-align: center" type="date" class="form-control" formControlName="loanDate">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">

        <div class="col-2">Scan Book ID</div>
        <div class="col-4">
          <input type="text" class="form-control" (keyup.enter)="searchBook($event)" [(ngModel)]="idBook">
        </div>
      </div>
    </div>
    <div class="col-4" style="text-align: center">
      <div>
        <img src="" alt="" width="60px" height="80px">
      </div>
      <div *ngIf="account">
        {{account.id}} - {{account.fullname}}-{{account.position}}
      </div>
    </div>
  </div>

  <div *ngIf="bookList">
    Quantity: {{bookList.length}}
  </div>

  <table *ngIf="bookList" class="table table-bordered">
    <thead>
    <th>Order</th>
    <th>Book ID</th>
    <th>ISBN</th>
    <th>Title</th>
    <th>Number of Pages</th>
    <th>Publisher</th>
    <th style="text-align: center">Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let book of bookList;index as i">
      <td>{{i + 1}}</td>
      <td>{{book.id}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.title}}</td>
      <td>{{book.number_of_pages}}</td>
      <td>{{book.publisher}}</td>
      <td style="text-align: center">
        <button (click)=deteleBook(book) style="border-color: #dc3545; background-color: #dc3545; color: white"><i
          class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2">
      <button style="width: 100%" class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-2">
      <button style="width: 100%" class="btn btn-light" (click)="returnLending()"> Cancel</button>
    </div>
  </div>

</div>

<!--{{lendingForm.value | json}}-->

