<h3>Change Password</h3>

<div  [formGroup]="formChangePassword">
  <!--  <div class="col-md-3">New Password</div>-->
  <!--    <input type="text" class="form-control" formControlName="newPassword">-->
  <!--  <div class="col-md-3"></div>-->
  <div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput [type]="showOldPassword ? 'text' : 'password'" name="password" formControlName="oldPassword">
        <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
          {{showOldPassword?'visibility_off':'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput [type]="showNewPassword ? 'text' : 'password'" name="password" formControlName="newPassword">
        <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
          {{showNewPassword?'visibility_off':'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Comfirm New Password</mat-label>
        <input matInput [type]="showComfirmNewPassword ? 'text' : 'password'" name="password" formControlName="comfirmNewPassword">
        <mat-icon matSuffix (click)="toggleComfirmNewPasswordVisibility()">
          {{showComfirmNewPassword?'visibility_off':'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-3">
    <p></p>
    <button style="width: 100%" class="btn btn-primary" (click)="changePassword()">Change</button>
    <p></p>
  </div>
  <div class="col-md-3">
    <p></p>
    <button style="width: 100%" type="button" class="btn btn-light" (click)="closeDialogChangePassword()">Close</button>
    <p></p>
  </div>
</div>

<!--{{formChangePassword.value | json}}-->
