<div class="container">
  <h3>List of Lendings</h3>
<!--  <a >Add New Lending</a>-->
  <div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <button  style="width: 100%" class="btn btn-light" [routerLink]="['add']">
        <i class="fa fa-plus"></i> New lending
      </button>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>

  <table class="table table-bordered">
    <thead>
    <th style="text-align: center">Order</th>
<!--    <th style="text-align: center">Lending ID</th>-->
    <th>Borrower</th>
    <th style="text-align: center">Loan Date</th>
    <th style="text-align: center">Quantity</th>
    <th style="text-align: center">Details</th>
    </thead>
    <tbody>
    <tr *ngFor="let lending of lendingList |  paginate: { itemsPerPage: 10, currentPage: p };index as i">
      <td style="text-align: center">{{i + 1}}</td>
<!--      <td style="text-align: center">{{lending.id}}</td>-->
      <td>{{lending.account.fullname}}</td>
      <td style="text-align: center">{{lending.loanDate | date: 'dd/MM/yyyy '}}</td>
      <td style="text-align: center">{{lending.bookList.length}}</td>
      <td style="text-align: center">
        <button [routerLink]="[lending.id]" style="background-color: #007bff;border-color: #007bff;color: white">
          <i class="fa fa-info-circle"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>
