<div class="container">
  <h3>Bookcase of List</h3>
  <table class="table table-bordered table-striped">
    <thead>
    <th>Order</th>
    <th>Name</th>
    <th>Description</th>
    <th style="text-align: center">Quantity</th>
    <th style="text-align: center">Detail</th>
    </thead>
    <tbody>
    <tr *ngFor="let bookcase of bookcaseList; index as i">
      <td>{{i+1}}</td>
      <td>{{bookcase.name}}</td>
      <td>{{bookcase.description}}</td>
      <td style="text-align: center">{{bookcase.bookList.length}}</td>
      <td style="text-align: center">
        <button class="btn btn-primary"  [routerLink]="['/racks', bookcase.id]">Detail</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
