<div class="container">
  <h3>List of Account</h3>
  <div class="row" style="margin-bottom: 5px">
    <div class="col-1">Code</div>
    <div class="col-2">
      <input type="text" class="form-control" (keyup)="keyupCode($event)">
    </div>
    <div class="col-1">Username</div>
    <div class="col-2">
      <input type="text" class="form-control" (keyup)="keyupUsername($event)">
    </div>
    <div class="col-1">Fullname</div>
    <div class="col-2">
      <input type="text" class="form-control" (keyup)="keyupFullname($event)">
    </div>
    <div class="col-1">Position</div>
    <div class="col-2">
      <select name="" id="" (change)="changePosition($event)" class="form-control">
        <option value=""></option>
        <option *ngFor="let position of positionList" [ngValue]="position">{{position}}</option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <button  style="width: 100%" class="btn btn-light" (click)="openDialogAdd()">
        <i class="fa fa-plus"></i> New account
      </button>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
    <th>Code</th>
    <th>Username</th>
    <th>Fullname</th>
    <th>Position</th>
    <th>Role</th>
    <th style="text-align: center">Enable</th>
    <th style="text-align: center">Detail</th>
    </thead>
    <tbody>
        <tr *ngFor="let account of accountList">
          <td>{{account.code}}</td>
          <td>{{account.username}}</td>
          <td>{{account.fullname}}</td>
          <td>{{account.position}}</td>
          <td>{{account.role}}</td>
          <td style="text-align: center">{{account.enable}}</td>
          <td style="text-align: center">
            <button style="background-color: #007bff;border-color: #007bff;color: white" [routerLink]="['/admin/accounts', account.username]">
              <i class="fa fa-info-circle"></i>
            </button>
          </td>
        </tr>
    </tbody>
  </table>
</div>
